@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Bungee);

//VARIABLES
$background: #ffc85c;
$input-bckg: #fff8c1;
$text: #59886b;
$complement: #c05555;

//MIXINS
/*@mixin width-limit-text {
  max-width: 75%;
  word-wrap: break-word;
}*/

//STYLES
body {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  color: $text;
  overflow-x: hidden;
  font: {
    family: 'Ubuntu', sans-serif;
    size: 1.5rem;
    weight: 700;
  }
}

h1 {
  font-family: 'Bungee', sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px #000;
  margin: 0;
}

input {
  height: 3rem;
  background-color: $input-bckg;
  border: 5px solid $complement;
  border-radius: 5px;
  color: $text;
  margin: 5rem;
  margin-bottom: 2rem;
  &:focus {
    outline: none;
  }
}

button {
  font: {
    family: 'Ubuntu', sans-serif;
    size: 1rem;
    weight: 800;
  }
  background-color: $text;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  border: none;
  box-shadow: 1px 2px #000;
  &:active {
    transform: translateY(3px);
    outline: none;
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}

.list {
  margin: 0 auto;
  list-style: none;
  text-align: center;
  padding-left: 0;
  word-break: break-word;
  li {
    width: 16rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $complement;
    background-color: $input-bckg;
  }
}

.far {
  font-size: 1.4rem;
  margin-right: 0.4rem;
}

.close {
  color: $complement;
  font-size: 1.3rem;
}

@media (hover: hover) {
  button:hover {
    background-color: $input-bckg;
    color: black;
    outline: none;
    cursor: pointer;
  }
  .close:hover {
    cursor: pointer;
    color: black;
  }
}

@media screen and (max-width: 750px) {
  .list li {
    width: 14rem;
    padding: 0.6rem;
    font-size: 1.3rem;
  }

  input {
    margin: 2rem;
    height: 2.3rem;
    max-width: 75%;
  }
}
